parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Pest\\\\PendingCalls\\\\TestCall\\|Pest\\\\Support\\\\HigherOrderTapProxy\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/RouteTesting.php

		-
			message: "#^Call to an undefined method Pest\\\\PendingCalls\\\\TestCall\\|Pest\\\\Support\\\\HigherOrderTapProxy\\:\\:getJson\\(\\)\\.$#"
			count: 1
			path: src/RouteTesting.php

		-
			message: "#^Parameter \\#1 \\$haystack of function str_starts_with expects string, string\\|null given\\.$#"
			count: 1
			path: src/RouteTesting.php

		-
			message: "#^Property Spatie\\\\RouteTesting\\\\RouteTesting\\:\\:\\$assertedRoutes \\(array\\<string, Illuminate\\\\Routing\\\\Route\\>\\) does not accept array\\<string, mixed\\>\\.$#"
			count: 1
			path: src/RouteTesting.php
